$cd-bars: #15DEA5;
$cd-bars-inv: #0E397F;
$size: 3vh;
$num-bars: 6;
$anim-dur: 1200ms;
$anim-delay: $anim-dur / $num-bars;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.spin {
    background-color: #15DEA5;
    width: 30vh;
    height: 30vh;
    animation: spin 3s linear infinite paused;
    &:hover {
        animation-play-state: running;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}